$color: #fafafa;
$grey: #999;
$lightGrey: #e3e3e3;
$e_color: crimson;
$bgColor: blue;
$lightBlue: #85dfe6;
$hover: #1fefff;

@mixin flex($a, $b) {
  display: flex;
  align-items: $a;
  justify-content: $b;
}
